<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>پنل مدیریت روبیک مارکت</title>

<!-- Core CSS - Include with every page -->
<link href="/AdminFile/css/bootstrap-rtl.css" rel="stylesheet">
<link href="/AdminFile/font-awesome/css/font-awesome.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/jalalidatepicker.min.css" />

<!-- Page-Level Plugin CSS - Dashboard -->
<link href="/AdminFile/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
<link href="/AdminFile/css/plugins/timeline/timeline.css" rel="stylesheet">


<!-- SB Admin CSS - Include with every page -->
<link href="/AdminFile/css/sb-admin.css" rel="stylesheet">

