<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="/Admin"><i class="fa fa-dashboard fa-fw"></i> پنل ادمین</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> مدیریت کاربران<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/Roles">دسترسی ها</a>
                    </li>
                    <li>
                        <a href="/Admin/ManageUser">کاربران</a>
                    </li>
                    <li>
                        <a href="/admin/ManageUser/ListDeleteUsers">لیست کاربران حذف شده</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> مدیریت محصولات<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/Products"> محصولات</a>
                    </li>
                    <li>
                        <a href="/Admin/Products/CreateProduct">افزودن محصول</a>
                    </li>
                    <li>
                        <a href="/admin/ProductGroups">گروه محصولات</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> مدیریت پست ها<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/Blogs"> پست ها</a>
                    </li>
                    <li>
                        <a href="/Admin/Blogs/CreatePost">افزودن پست</a>
                    </li>
                    <li>
                        <a href="/admin/Blogs/ListDeletePost">پست های حذف شده</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> مدیریت کد های تخفیف<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/Discounts">لیست تخفیف های سایت</a>
                    </li>
                    <li>
                        <a href="/Admin/Discounts/CreateDiscount">افزودن کد تخفیف</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</div>