<section class="py-2" id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6" id="social-links">
                <span>ما را دنبال کنید</span>
                <a href="#"><img src="/images/social/insta.png" alt=""></a>
                <a href="#"><img src="/images/social/facebook.png" alt=""></a>
                <a href="#"><img src="/images/social/linkedin.png" alt=""></a>
                <a href="#"><img src="/images/social/twitter.png" alt=""></a>
                <a href="#"><img src="/images/social/youtube.png" alt=""></a>
            </div>
            <div class="col-12 col-sm-6 text-sm-end pt-2 pt-sm-0">
                <span>کلیه حقوق و مادی معنوی محفوط است.</span>
            </div>
        </div>
    </div>
</section>