<section class="pt-4 pb-3" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="title">دسترسی سریع</div>
                <ul>
                    <li><a href="#">بلاگ آموزشی</a></li>
                    
                    <li><a href="#">سوالات متداول</a></li>
                    <li><a href="/">درباره ما</a></li>
                    <li><a href="/">تماس با ما</a></li>
                </ul>
            </div>
            
            <div class="col-6 col-sm-4 col-lg-2 d-none d-sm-inline-block">
                <div class="title">ناحیه کاربری</div>
                <ul>
                    <li><a href="/login">ورود به سایت</a></li>
                    <li><a href="/register">عضویت در سایت</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <hr class="d-lg-none">
                <img src="/images/logo.png" alt=""> روبیک مارکت
                <p>باگ آموزشی روبیک بلاگ به شما کمک می کند تا بتوانید بهترین انتخاب را داشته باشید.</p>
                <div class="row">
                    <div class="col-12 col-md-6 text-center p-2" id="support-info">
                        <div>7 روز هفته، 24 ساعت شبانه روز</div>
                        <div>پاسخگوی شما هستیم</div>
                        <div>09178509578</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>